{% extends 'SIGEA_APP/base.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<style>
    .profile-img {
        max-width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }

    .full-width-form {
        width: 100%;
        padding: 20px;
    }
</style>

<div class="container-fluid">
    <h1><i class="bi bi-person-circle"></i> Editar Perfil</h1>
    <form id="editProfileForm" method="post" enctype="multipart/form-data" class="full-width-form">
        {% csrf_token %}
        <div class="form-group">
            <label><i class="bi bi-person"></i> Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="form-group">
            <label><i class="bi bi-person"></i> Apellido:</label>
            {{ form.apellido }}
        </div>
        <div class="form-group">
            <label><i class="bi bi-credit-card"></i> DUI:</label>
            {{ form.dui }}
        </div>
        <div class="form-group">
            <label><i class="bi bi-phone"></i> Teléfono:</label>
            {{ form.telefono }}
        </div>
        <div class="form-group">
            <label><i class="bi bi-envelope"></i> Email:</label>
            {{ form.email }}
        </div>

        
        <div class="form-group text-center">
            <label>Imagen Actual:</label>
            {% if form.instance.foto_perfil %}
                <img src="{{ form.instance.foto_perfil.url }}" alt="Foto de perfil actual" class="profile-img">
            {% else %}
                <img src="{% static 'fotos_perfil/perfil-del-usuario.png' %}" alt="Foto de perfil predeterminada" class="profile-img">
            {% endif %}
        </div>
        <!-- Mostrar la opción de eliminar solo si la foto no es la predeterminada -->
        {% if form.instance.foto_perfil and form.instance.foto_perfil.url != '/media/fotos_perfil/perfil-del-usuario.png' %}
            <div class="form-group form-check">
                {{ form.eliminar_foto }}
                <label for="eliminar_foto">Eliminar foto actual</label>
            </div>
        {% endif %}
        <div class="form-group">
            <label><i class="bi bi-camera"></i> Foto de Perfil:</label>
            {{ form.foto_perfil }}
        </div>


        
        <button type="submit" class="btn btn-primary"><i class="bi bi-check2"></i> Guardar Cambios</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#editProfileForm').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: '{% url "edit_profile" %}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: response.message
                        }).then(function() {
                            location.reload();
                        });
                    } else {
                        let errors = '';
                        for (const [field, messages] of Object.entries(response.errors)) {
                            errors += `${messages.join(', ')}\n`;
                        }
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: errors
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire('Error', 'Ocurrió un error inesperado al actualizar el perfil', 'error');
                }
            });
        });
    });
</script>
{% endblock %}
