{% extends 'SIGEA_APP/base.html' %}

{% block content %}

<style>
    .scrollable-content {
        max-height: 70vh; /* Ajusta esta altura según tus necesidades */
        overflow-y: auto;
    }
</style>

<div class="scrollable-content">
    <h1>Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
        </div>
        <div class="form-group">
            {{ form.dui.label_tag }}
            {{ form.dui }}
        </div>
        <div class="form-group">
            {{ form.telefono.label_tag }}
            {{ form.telefono }}
        </div>
        <div class="form-group">
            {{ form.salario.label_tag }}
            {{ form.salario }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.foto_perfil.label_tag }}
            {{ form.foto_perfil }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
