<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="text-center">
            <figure class="text-center">
                <blockquote class="blockquote">                    
                    <span>Desarrollado por ExtremistaRevolucionario</a></span>
                </blockquote>                           
                <figcaption class="blockquote-footer">                              
                    Los reales, <cite title="Source Title">GRUPO#05</cite>
                </figcaption>
              </figure>
            </div>
    </div>    
</footer>  