<!doctype html>
<html lang="en">
<head>        
    <title>SIGEA - LOGIN</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="{% static 'css/Login.css' %}" rel="stylesheet">
    <style>
        /* Estilos para centrar la imagen en el encabezado */
        header {
            text-align: center;
        }

        header img {
            max-width: 200px; /* Establece el ancho máximo del logo */
            height: auto;
            margin: 20px auto; /* Ajusta el margen para centrar verticalmente */
        }
    </style>
</head>
<body>
    <header>
        <!-- Coloca tu imagen de logo aquí -->
        
        <!-- place navbar here -->
    </header>
    <main>
        <div class="logo-container">
            <img src="static/img/logo_lanslawglobal.png" alt="Logo de SIGEA" />
        </div>
        <div class="login-container">
            <form class="login-form">
                <h2>Iniciar Sesión</h2>
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->

        
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <div class="footers">
    <p>&copy; 2024 DSI115-GRUPO#05. Todos los derechos reservados.</p>
    </div>
    <script></script>

    
</body>
</html>
