{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center mt-4" href="{% url 'index' %}">
    <div class="sidebar-brand-icon">
      <img src="{% static 'img/SIGEA_transparent.png' %}" alt="Logo" style="width: 100px; height: 100px;" />
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-3" />

  <!-- Heading -->
  <div class="d-block sidebar-heading bg-primary text-white mt-3">MÓDULOS ACTIVOS</div>

  <div class="d-block scroll-custom">
    <!-- Clientes -->
    {% if pruebita == 1 or pruebita == 2 or pruebita == 3 or pruebita == 4 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cliente_list' %}">
            <i class="fas fa-user-tie"></i>
            <span>Clientes</span>
        </a>
    </li>
    {% endif %}

    <!-- Casos -->
    {% if pruebita == 1 or pruebita == 2 or pruebita == 3 or pruebita == 4 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'caso_list' %}">
            <i class="fas fa-poll"></i>
            <span>Casos</span>
        </a>
    </li>
    {% endif %}

    <!-- Actividades -->
    {% if pruebita == 1 or pruebita == 2 or pruebita == 3 or pruebita == 4 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'actividades' %}">
            <i class="fas fa-calendar-check"></i>
            <span>Actividades</span>
        </a>
    </li>
    {% endif %}

    <!-- Lista de Actividades -->
    {% if pruebita == 1 or pruebita == 2 or pruebita == 3 or pruebita == 4 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'actividades_list_template' %}">
            <i class="fas fa-clipboard-list"></i>
            <span>Lista de Actividades</span>
        </a>
    </li>
    {% endif %}

    <!-- Registro de Horas -->
    {% if pruebita == 1 or pruebita == 2 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registroasistencia_list' %}">
            <i class="fas fa-clock"></i>
            <span>Registro de Horas</span>
        </a>
    </li>
    {% endif %}

    <!-- Evaluaciones -->
    {% if pruebita == 1 or pruebita == 3 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'evaluacion_list' %}">
            <i class="fas fa-poll"></i>
            <span>Evaluaciones</span>
        </a>
    </li>
    {% endif %}

    <!-- Usuarios -->
    {% if pruebita == 1 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'usuario_list' %}">
            <i class="fas fa-users"></i>
            <span>Usuarios</span>
        </a>
    </li>
    {% endif %}

    <!-- Departamentos -->
    {% if pruebita == 1 or pruebita == 3 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'departamento_list' %}">
            <i class="fas fa-building"></i>
            <span>Departamentos</span>
        </a>
    </li>
    {% endif %}

    <!-- Servicios -->
    {% if pruebita == 1 or pruebita == 3 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'servicio_list' %}">
            <i class="fas fa-concierge-bell"></i>
            <span>Servicios</span>
        </a>
    </li>
    {% endif %}
</div>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
