

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SIGEA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Nombre de algo.xd
    </div>

    {% if pruebita == 1 %}
    
    <!-- Nav Item - Reportes -->  
    <!--lista de botones del Nav(Cada nav-item es un botón nuevo)-->
    <li class="nav-item">
        <!--lista de botones del Nav-->
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"
                aria-expanded="true" aria-controls="collapseReportes">
                <i class="fas fa-fw fa-cog"></i>
                <span>Reportes</span>
            </a>
            <div id="collapseReportes" class="collapse" aria-labelledby="headingReportes" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tipos de Reportes</h6>
                    <a class="collapse-item" href="#">Empleados</a>
                    <a class="collapse-item" href="#">Departamentos</a>
                    <a class="collapse-item" href="#">Casos</a>
                    <a class="collapse-item" href="#">Actividades</a>
                    <a class="collapse-item" href="#">Documentos</a>
                    <a class="collapse-item" href="#">Evaluaciones</a>
                </div>
            </div>
        </li>
    <!-- Nav Item - Empleados -->  
    {% elif pruebita == 2 %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmpleados"
            aria-expanded="true" aria-controls="collapseEmpleados">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Empleados</span>
        </a>
        <div id="collapseEmpleados" class="collapse" aria-labelledby="headingEmpleados"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>        
    
    <!-- Nav Item - Departamentos -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDepartamentos"
            aria-expanded="true" aria-controls="collapseDepartamentos">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Departamentos</span>
        </a>
        <div id="collapseDepartamentos" class="collapse" aria-labelledby="headingDepartamentos"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>       
    <!-- Nav Item - Actividades -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseActividades"
            aria-expanded="true" aria-controls="collapseActividades">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Actividades</span>
        </a>
        <div id="collapseActividades" class="collapse" aria-labelledby="headingActividades"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>       

    {% elif pruebita == 3 %}
   
    <!-- Nav Item - Documentos -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocuemntos"
            aria-expanded="true" aria-controls="collapseDocuemntos">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Documentos</span>
        </a>
        <div id="collapseDocuemntos" class="collapse" aria-labelledby="headingDocuemntos"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>       
    <!-- Nav Item - Evaluaciones -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvaluciones"
            aria-expanded="true" aria-controls="collapseEvaluciones">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Evaluaciones</span>
        </a>
        <div id="collapseEvaluciones" class="collapse" aria-labelledby="headingEvaluciones"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>       
    <!-- Nav Item - Casos -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCasos"
            aria-expanded="true" aria-controls="collapseCasos">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Casos</span>
        </a>
        <div id="collapseCasos" class="collapse" aria-labelledby="headingCasos"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
            </div>
        </div>
    </li>       
    
    <!-- FIN DE ITEMS (De momentoxd) -->
    {% endif %}

    


    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <!--botón para ocultar el sidebar -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  
</ul>
    