{% extends 'SIGEA_APP/admin/index.html' %}

{% block content %}
<div class="container">
    <h1 class="page-header">Lista de Usuarios</h1>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list %}
            <tr>
                <td>{{ usuario.idusuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'usuario_detail' usuario.idusuario %}">Ver Detalles</a>
                    <a href="{% url 'usuario_update' usuario.idusuario %}">Editar</a>
                    <a href="{% url 'usuario_delete' usuario.idusuario %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn" href="{% url 'usuario_create' %}">Crear Nuevo Usuario</a>
</div>
{% endblock  %}
    